table {
    font-size: 10px;
    max-width: 250px;
    max-height: 750px;

    border: 1px solid black;
    margin-top: 20px;
}

thead th {
    border: 1px solid black;
}

tbody td {
    border-left: 1px solid black;
}

.sidebar {
    background-color: darkcyan;
    border: 2px solid white;
    width: 250px;
    height: 750px;
    position: absolute;
    float: left;
    z-index: 100;
}

.logged-text {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 600;
}

.logged-content {
    margin-top: 40px;
    max-width: 180px;
    
    text-align: center;
}

.logged-content input {
    font-size: 14px;
    max-width: 125px;
    position: relative;
    left: 30px;
}

.PDF-part {
    text-align: center;
    margin: 0;
    padding: 0;
}

.PDF-part button {
    position: relative;
    right: 5px;
    top: 500px;
    width: 120px;
    margin: 0;
    padding: 0;
}